/* =========================== */
/* GENERAL STYLES AND TOP LEVEL LAYOUT */
/* =========================== */


* {
  font-family: 'Roboto Slab', serif;
  color: #DBE0E4;
  box-sizing: border-box;
}

li, a {
  text-decoration: none;
}

button {
  font-family: 'Roboto Slab', serif;
}

body {
  margin: 0;
  padding: 0;
  width:100%;
  /* background-color: #090A0A; */
  background-color: #111414;
}

.button {
  padding:0.4em 0.75em;
  display: inline-block;
  border-radius:5px;
  background-color: #090A0A;
  color: #DBE0E4;
}

.button:hover {
  cursor: pointer;
}

.button--positive {
  border: 1px solid #065408;
}

.button--positive:hover {
  background:#065408;
}

.button--negative {
  border: 1px solid #E83F1B;
}

.button--negative:hover {
  background: #E83F1B;
}

.icon-button {
  padding:0px;
}

.icon-button__text {
  padding:0.5em 0.75em;
  display: inline-block;
}

.icon-button__icon-wrapper {
  padding: 0.5em;
  display: inline-block;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin:-2px;
}


.icon-button__icon-wrapper--positive {
  background-color: #065408;
}

.icon-button__icon-wrapper--negative {
  background-color: #E83F1B;
}

.template-tray-button {
  margin-left: auto;
  margin-right: auto;
}

.app-container {
  width:100%;
}




/* =========================== */
/* HEADER BAR */
/* =========================== */

.header-bar {
  display:flex;
  justify-content: space-between;
  padding:0.3em;
  background-color: #090A0A;
}

.header-bar__nav {

}

.header-bar__navlist {
  display:flex;
}

.header-bar__navlist-item {
  margin-left: 0.3em;
  padding:0.2em;
}

.header-bar__nav-link {
  padding:0.25em;
}

.header-bar__nav-link:hover {
  text-decoration: underline;
}


.header-bar__user {

}


/* =========================== */
/* FLASH MESSAGE BAR */
/* =========================== */


.flash-messages__container {
  width:100%;
  position:absolute;
  margin-bottom: 1em;
}

.flash-messages__message {
  width:80%;
  margin: auto;
}

.flash-message__message-text {
  width:40%;
  margin:auto;
  padding:0.75em;
  text-align: center;
}

.flash-message__message--positive {
  border: 1px #56FB0D solid;
}

.flash-message__message--negative {
  border: 2px #E83F1B solid;
}


/* =========================== */
/* MAIN INTERFACE (COMPOSER PANEL, CONTROL BAR AND TEMPLATE TRAY) */
/* =========================== */

.interface-wrapper {
  display:flex;
  padding:0.25em;
}

.composer-panel__wrapper {
  width:70%;
}

.composer-panel__main {
  background: #DBE0E4;
  height: 450px;
  overflow-y: scroll;
}


.composer-panel__contents {
  padding:0.5em;
}


.composer-panel__paragraph {
  padding:0.75em;
  background:#DBE0E4;
  display:flex;
}

.composer-panel__paragraph:hover {
  cursor:pointer;
}

.composer-panel__paragraph-text {
  width:80%;
  color:#090A0A;
}

.composer-panel__delete-button {
  width:20%
}

.composer-panel__delete-icon {
  color: #E83F1B;
}


.control-bar {
  width:100%;
  padding:0.5em 0.25em;
}

.control-bar__button-tray {
  display:flex;
}

.control-bar__composer-buttons {
  width:70%;
}

.control-bar__tray-buttons {
  width:30%;
  text-align: center;
}

.control-bar__button {
  margin-left: 1em;
  background: #090A0A;
}


.template-tray {
  width:30%;
  height: 450px;
  overflow-y: scroll;
  background-color: #090A0A;
}

.template-tray__list {

}

.template-tray__list-item {
  /* padding: 0.3em 0.75em; */
  display:flex;
}

.template-tray__list-item:hover {
  background: #DBE0E4;
  color: #090A0A;
  cursor: pointer;
}

.template-tray__list-item:hover .template-tray__label-text {
  color:#090A0A;
}

.template-tray__label-text {
  width:80%;
  padding: 0.3em 0.75em;
}

.template-tray__edit-button {
  width:20%;
  text-align: center;
  padding: 0.3em 0.75em;
}

.template-tray__list-item:hover .template-tray__edit-icon {
  color: #090A0A;

}

/* =========================== */
/* MODAL */
/* =========================== */

#modal-root {
  position: relative;
  z-index: 999;
}

.modal {
  background-color: rgba(0,0,0,0.75);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: block;
}

.modal-body {
  width:60%;
  position:relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
  background: #090A0A;
  padding:2em;
  border: 1px #DBE0E4 solid;
}

.modal__close {
  display: block;
  position:absolute;
  background: #E83F1B;
  right:-0.75em;
  top:-0.75em;
  font-size:1.4em;
  width:1.4em;
  height:1.4em;
  line-height: 1.4em;
  text-align:center;
  border-radius: 50%;
}

.modal__close:hover, .modal__close:focus {
  cursor:pointer;
}

.modal__close-icon {

}

/* =========================== */
/* GENERIC FORMS */
/* =========================== */

form {

}

.form__heading {
  font-size:1.2em;
  margin-bottom: 0.75em;
  border-bottom: 1px #DBE0E4 solid;
  padding-bottom:0.2em;
}

.form-group {
  margin-bottom:1em;
}

.form__label {
  display:block;
  margin-bottom:0.5em;
}

.form__input {
  display:block;
  width:100%;
  margin:auto;
  color:#090A0A;
}

.form__submit {

}


/* =========================== */
/* USER FORMS (LOGIN/SIGNUP) */
/* =========================== */

.user-form {
  margin-bottom:10em;
  margin-top:1em;
  margin-left: auto;
  margin-right: auto;
  width:50%;
}


/* =========================== */
/* MODAL FORMS */
/* =========================== */

.modal-form {
  margin-bottom:1em;
  margin-left: auto;
  margin-right: auto;
  width:95%;
}


.modal-form__textarea {
  height:8em;
}


/* =========================== */
/* HOMEPAGE */
/* =========================== */

.homepage__wrapper {
  display: flex;
  justify-content: space-evenly;
}

.homepage__title {
  font-size: 2em;
  text-align: center;
  padding: 0.5em 0;
}


.homepage-section {
  width:25%;
  padding:1em;
}

.homepage-section__icon-wrapper {
  text-align: center;
  padding:1em;
}

.homepage-section__icon {
  font-size:3em;
  height:3em;
  width:3em;
  line-height: 3em;
  border:2px solid #DBE0E4;
  border-radius:50%;
  text-align: center;
  background-color: #2d3133;
}

.homepage-section__heading {
  font-size: 1.5em;
  text-align: center;
  border-bottom: 1px solid #DBE0E4;
  width:80%;
  margin:0 auto;
  margin-bottom:0.5em;
}

.homepage-section__text {

}

.homepage-section__para {
  text-align: center;
  width:80%;
  margin:0 auto;
}

.homepage__cta {
  text-align: center;
  margin-top: 2em;
}

.homepage__cta-button {
  padding: 1em;
}

/* =========================== */
/* DRAG AND DROP */
/* =========================== */


.gu-mirror {
  display:none;
}

.gu-unselectable {

}

.gu-transit {
  background-color: rgba(0,0,0,0.8);
}

.gu-transit .composer-panel__delete-icon {
  display:none;
}

.gu-transit .composer-panel__paragraph-text {
  color: #DBE0E4;
}
